/*#6E07F3 #5BE9B9 cores*/
body{
    
    background-image: linear-gradient(#4937ef,#5BE9B9, #5BE9B9);
}
ul{
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
}
.imgperfil{
    margin-left: 5%;
    width: 200px;
    height: 200px;
    border-radius: 30%;
    padding: 0;
    margin-top: 5%;
}
#imgpc{
    margin-left: 5%;
    width: 150%;
    height: 150%;
    border-radius: 30%;
    padding: 0;
    margin-top: 5%;

}

header{
    min-width: 100%;
    max-width: 100%;
}

#pc {
    display: flex;
    justify-content: end;
    width: 26%;
    height: 30%;
    margin-top: 10%;
    
}
.dados{
    background-image: linear-gradient(#4937ef, #5BE9B9);
    display:flex;
    justify-content: column;
    align-items: right;
    text-align: left;
   

}

.bemvindo{
    text-align: center;
    flex-direction: center;
    background-image: linear-gradient(#4937ef, #5BE9B9);
   
    height: 30%;
    width: 70%;
    margin-left: 3%;
    
    
    
}

#idade{
    font-weight: bold;
    height: 20%;
    text-align: left;
    width: 58%;
    
}

.linha{
    width: 80%;
    border: 2px solid #000;
    margin-left: 10%;
}

ul.nav{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.nav li{
    float:left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav li a:hover:not(active){
    background-color: #111;
}

ul.nav li a.active{
    background-color: #04AA6D;
}

ul.nav li.right{
    float: right;
}

@media screen and (max-width: 600px) {
    ul.nav li.right, 
    ul.nav li {
        float: none;
    }
  }

.icones{
    width: 3%;
    height: 3%;
    display: flex;
    margin-top: 0.7%;
    margin-left: 90%;
}

  #instagram{
    margin-top: 10%;
    width: 50%;
    margin-right: 30%;

  }

  #whatsapp{
    margin-top: 10%;
    width: 50%;
    margin-right: 30%;

  }

  #github{
    margin-top: 10%;
    width: 50%;
    margin-right: 30%;

  }